/* common shared style  */

* {
    font-family: 'Work Sans', sans-serif;
    padding: 0;
    margin: 0;
}

.same-section {
    max-width: 1440px;
    padding: 20px 150px;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 48px;
    border: 0;
    background: #FF42A5;
    padding: 15px 35px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

.btn-secondary {
    border-radius: 48px;
    border: 0;
    background: #4EC5F7;
    padding: 15px 35px;
    color: #FFF;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* header styles */

/* nav styles */
nav {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left-content {
    display: flex;
}

.nav-logo {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    margin-right: 10px;

}

.nav-title {
    font-size: 2.6rem;
    font-weight: 700;
}

.nav-right-content>ul {
    display: flex;
    gap: 20px;
    align-items: center;
}

.nav-right-content>ul>li {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    margin-right: 30px;
    color: #3C354F;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-special-link {
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 15px;
    display: inline-flex;
    gap: 10px;
}

/* nav styles end */

/* banner styles */
.banner {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.banner-title {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
}

.banner-short-title {
    /* color ta figma theka copy kora neya */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5.8rem;
    text-align: center;
    font-weight: 800;
    margin-bottom: 20px;
}

.banner-content>ul>li {
    list-style: none;
    color: #534C64;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 15px;
}

.banner-img img {
    max-width: 520px;
}

/* banner styles end */

/* header styles end */

/* Online games funny videos styles */
.funny-videos {
    margin-top: 60px;
}

.funny-videos-title {
    color: #0B0223;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}

.funny-videos-description {
    color: #534C64;
    text-align: center;
    font-weight: 400;
    margin-bottom: 40px;
    margin-top: 20px;
}

.game-design-title {
    /* figma theka neya */
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.funny-videos-card {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.videos-card-content {
    position: relative;
    max-width: 280px;
}

.image {
    width: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 97%;
    width: 98%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}

.overlay-icon {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.overlay-text {
    color: #FF42A5;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 60%;
    left: 30%;
}

.videos-card-content:hover .overlay {
    opacity: .5;
    border: 4px solid crimson;
    border-radius: 16px;
}

.card-description {
    color: #534C64;
    font-weight: 500;
    margin-top: 15px;
}



/* Online games funny videos styles end */


/* play instantly styles */
.play-instantly {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.play-content {
    margin-top: -350px;
}

.play-title {
    text-align: right;
    font-weight: 700;
    font-size: 3rem;
    color: #0B0223;
}

.paly-design-title {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-description {
    font-weight: 400;
    color: #534C64;
    text-align: right;
    margin-top: 15px;
}

/* .play-img> img{
    width: 100%;
} */
.play-sub-img {
    position: relative;
    bottom: 300px;
    left: -150px;
}

/* play instantly styles end */

/* game card section styles  */
.game-card {
    background-color: rgb(244, 244, 244);
    margin-top: -100px;
}

.game-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 50px;
}

.game-card-content {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    background: #FFF;
    max-width: 210px;
    border: 2px solid transparent;
}

.game-card-description {
    font-size: 1.2rem;
    font-weight: 600;
}

.game-card-content:hover {
    border: 2px solid #FF42A5;
    color: #FF42A5;
}

/* game card section styles end */

/* footer styles */
footer {
    background: #0B0223;
}

.footer-content {
    padding: 120px 100px;
}

.footer-logo {
    justify-content: center;
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.footer-logo-title {
    color: #FFF;
    font-size: 2.5rem;
    font-weight: 700;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.links-1>ul,
.links-2>ul {
    display: flex;
    gap: 30px;
}

.links-1>ul>li,
.links-2>ul>li {
    list-style: none;
}

.f-links {
    text-decoration: none;
    color: #FFF;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 5px;
}

.footer-social-icon,
.footer-policy {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.policy-text {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;
}

.footer-copyright>ul {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 40px;
}

.footer-copyright>ul>li {
    list-style: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-weight: 500;

}


/* footer styles end */
/* responsive styles */

/* mobile device */
@media screen and (max-width:576px) {

    nav,
    .nav-right-content>ul {
        flex-direction: column;
        gap: 35px;
        padding: 20px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 20px;
    }

    .banner-img {
        margin: 0 auto;
    }

    .banner-img img {
        max-width: 335px;
    }

    .banner-content {
        max-width: 400px;
        margin-top: 100px;
        text-align: center;
    }

    .banner-title {
        font-size: 2rem;
    }

    .banner-short-title {
        font-size: 4rem;
    }

    .funny-videos {
        padding: 5px;
        margin-top: 90px;
        /* margin-left: 40px; */
    }

    .funny-videos-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
    }

    .play-instantly {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5px;
        margin-top: 400px;
        gap: 70px;
    }

    .play-title {
        font-size: 2.5rem;
    }

    .play-title,
    .play-description {
        text-align: center;
    }

    .play-img>img {
        width: 80%;
        margin-left: 55px;
    }

    .play-sub-img>img {
        width: 40%;
    }

    .play-sub-img {
        bottom: 150px;
        left: 5px;
    }

    .game-card {
        padding: 0px;
    }

    .game-card-container {
        padding: 30px 5px;
        gap: 15px;
    }

    .game-card-content {
        max-width: 108px;
    }

    .game-card-content img {
        width: 50%;
    }

    .game-card-description {
        font-size: .6rem;
        font-weight: 600;
    }
    .footer-content{
        padding: 100px 5px;
    }
    .footer-links,
    .footer-social-icon,
    .footer-policy,
    .footer-copyright {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .f-links{
        font-size: .9rem;
    }
    .policy-text,
    .footer-copyright> uL> li{
        font-size: .8rem;
    }
    .icon{
        width: 60%;
    }

}


/* tablet or medium device */
@media screen and (min-width:576px) and (max-width:960px) {
    nav {
        flex-direction: column;
        padding: 20px 50px;
        gap: 40px;
    }

    .banner {
        flex-direction: column-reverse;
        padding: 20px;
        gap: 50px;
    }

    .funny-videos {
        padding: 25px;
        margin-top: 90px;
        /* margin-left: 40px; */
    }

    .funny-videos-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .play-instantly {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 25px;
        margin-top: 400px;
        gap: 70px;
    }

    .play-title {
        font-size: 3.5rem;
    }

    .play-title,
    .play-description {
        text-align: center;
    }

    .play-img>img {
        width: 80%;
        margin-left: 55px;
    }

    .play-sub-img>img {
        width: 50%;
    }

    .play-sub-img {
        bottom: 200px;
        left: -5px;
    }

    .game-card {
        padding: 30px;
    }

    .game-card-container {
        padding: 30px 5px;
        gap: 25px;
    }

    .game-card-content {
        max-width: 110px;
    }

    .game-card-content img {
        width: 40%;
    }

    .game-card-description {
        font-size: .7rem;
        font-weight: 600;
    }
}